{% load staticfiles %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8"/>
  <title>Сервіс Обліку Студентів - {% block meta_title %}{% endblock meta_title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" value="Система обліку студентів навчального закладу"/>
      <!--Include styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/main.css' %}">

  {% block extra_css%}{% endblock extra_css%}

</head>

<body>
  <!--Start container-->

  <div class="container">
      <!--Start header-->
    <div class="row" id="header">
      <!--Logo-->
      <div class="col-xs-8">
        <h1> Сервіс обліку студентів </h1>
      </div>
      <!--Group selector-->
        <div class="col-xs-4" id="group-selector">
          <strong>Групи:</strong>
          <select>
            <option value=””>Усі Студенти</option>
            <option value=””>МтМ - 21, Подоба Віталій (No 254)</option>
            <option value=””>МтМ - 22, Корост Андрій (No 2123)</option>
          </select>
      </div>
    <!--End header-->
    </div>
      <!--Start SubHeader-->
      <div class="row" id="sub-header">
        <div class="col-xs-12">
        <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" {% if request.path == '/' %} class="active"{% endif%}><a href="{% url "home" %}">Студенти</a></li>
    <li role="presentationid="sub-header" "{% if '/journal' in request.path %} class="active" {% endif %}><a href="/journal">Відвідування</a></li>
    <li role="presentation" {% if '/groups' in request.path %} class="active"{% endif %}><a href="{% url "groups" %}">Групи</a></li>
        </ul>
      </div>
      </div>
    <!--End SubHeader-->
    <!--Start Main Page Content-->
    <div class="row" id="content-columns">
      <div class="col-xs-12" id="content-column">

    {% comment "Not used alert so far" %}
    <!-- Status Message -->
<div class="alert alert-warning" role="alert"> Status Update!</div>
    {% endcomment %}

          <h2>{% block title %}{% endblock title %}</h2>
          {% block content%}{% endblock content%}
      </div>
    </div>
<!--End Content Colums -->
    <!--Start Footer-->
    <div class="row" id="footer">
      <div class="col-xs-12">
         &copy; 2017 Сервіс Обліку Студентів
      </div>
    </div>
  <!--End Footer-->
<!--End container-->

</div>
      <!-- JS section -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block extra_js %}{% endblock extra_js %}

</body>

</html>
