{% extends "students/base.html" %}

{% load staticfiles %}

{% block meta_title%}Студенти{% endblock meta_title %}

{% block title %}База Студентів{% endblock title %}

{% block content %}


<!-- Add Student Button -->
<a href="{% url "students_add" %}" class="btn btn-primary"> Додати Студента </a>
<!--Start Students Listing-->
<table class="table table-hover table-striped">
<thead>
<tr>
<th>№</th>
<th>Фото</th>
<th><a href="#">Прізвище</a></th>
<th><a href="#">Ім’я</a></th>
<th><a href="#">No Білету</a></th>
<th>Дії</th>
</tr>
</thead>
<tbody>
  {% for student in students %}
<tr>
  <td>{{ forloop.counter }}</td>
<td>
<img class="img-circle" src="{% static student.image %}" height="40" width="40"/>
</td>
<td>
  <a href="{% url "students_edit" student.id %}"> {{ student.last_name }} </a>
  </td>
<td>
  <a href="{% url "students_edit" student.id %}"> {{ student.first_name }} </a>
  </td>
<td>
  {{ student.tickets }}
  </td>
<td>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> Дія <span class="caret"></span>
</button>
 <ul class="dropdown-menu" role="menu">
   <li role="presentation">
     <a role=”menuitem” tabindex=”-1” href="#"> Відвідування </a>
   </li>
   <li role="presentation">
    <a role=”menuitem” tabindex=”-1” href="{% url "students_edit" student.id %}"> Редагувати </a>
    </li>
    <li role="presentation">
    <a role=”menuitem” tabindex=”-1” href="{% url "students_delete" student.id %}"> Видалити </a>
</li>
 </ul>
</div>
</td>
</tr>
{% endfor%}

  </tbody>
 </table>

{% include 'students/pagination.html' %}
{% endblock content %}
